/* ----------------------------- Footer Section ----------------------------- */
/* .footerWrapper {
   position:absolute;
   bottom:0;
   width:100%;
} */

.footer {
    /* margin: 100px 0 40px; */
    text-align: center;
}
.footer p {
   margin: 5px 0; 
}

.copyrightsection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    min-height: 45px;
    background: black;
    font: bold 16px/1.4 ARS Maquette Pro Light;
    font-size: 15px;
    font-family: ARS Maquette Pro Light Italic;
}

